<% if(user) { %>
<div
  class="d-flex align-items-center mt-2 border-top bg-secondary border-bottom border-light"
>
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <span>ADMIN PANEL</span>
    <nav id="admin-nav" class="navbar">
      <ul>
        <li><a href="/admin/photos">PHOTOS</a></li>
        <li><a href="/admin/categories">CATEGORIES</a></li>
        <li><a href="/admin/tags">TAGS</a></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </nav>
  </div>
</div>
<% } %>
