
<div class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark container" id="navbar-admin">
    <div class="container-fluid">
       <a class="navbar-brand" href="#"><i class="bi bi-camera fc-danger"></i> PEBLOG</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Galeries
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/categories/all-photos">All Photos</a></li>
            <% if(categories) { categories.forEach(category =>  {%>
              <li><a class="dropdown-item" href="/categories/<%= category.slug %>"><%= category.name %></a></li>
              <% })} %>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>

        <div class="navbar-text header-social-links">
          <a href="#" class="twitter d-inline-block"><i class="bi bi-twitter"></i></a> <a href="#" class="facebook d-inline-block"><i class="bi bi-facebook"></i></a> <a href="#" class="instagram d-inline-block"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin d-inline-block"><i class="bi bi-linkedin"></i></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>

<%- include('./admin_menu.ejs') %>
