<%- include('./partials/page_top.ejs') %>
<%- include('./partials/page_header.ejs') %>

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>About</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>

            <a class="cta-btn" href="/contact">Available for hire</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row gy-4 justify-content-center  mt-3">
          <div class="col-lg-4">
            <img src="/assets/img/landscape.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 content mt-3">
            <h2>Professional Photographer</h2>
            <p class="fst-italic py-3">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam veniam doloremque accusantium quos ducimus quasi perspiciatis assumenda est doloribus incidunt minima excepturi, ut possimus placeat debitis eos! Accusamus, animi.
            </p>
            
            <p class="py-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, dolores, ducimus reprehenderit alias ex nisi quibusdam sint voluptatum aliquid quisquam quae magnam iusto. Veniam nemo adipisci eveniet rem, quidem, repellendus soluta nostrum voluptate repellat dignissimos illo commodi suscipit ratione, aliquid sed assumenda deserunt vitae odit!
            </p>
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti commodi aut ex quisquam, blanditiis sequi magnam provident at maxime veritatis amet pariatur veniam error? Quis sit, nisi architecto sint natus aliquam iusto est fuga totam repellendus ipsa deserunt iste officia vero facilis, consequatur error eum harum, ad commodi beatae!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <hr />

    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet consectetur labore quisquam nostrum enim laboriosam numquam et architecto voluptatem mollitia, soluta at velit natus inventore nulla esse nihil. Expedita sed facilis fuga culpa praesentium? Enim quo nemo praesentium qui.</p>
          <p><img src="/assets/img/last-image.jpg" class="w-100 rounded"/></p>
        </div>
      </div>
    </div>
  </main><!-- End #main -->

  <%- include('./partials/page_footer.ejs') %>
  <%- include('./partials/page_bottom.ejs') %>